@media (max-width: 992px) {
  /* Header styles for smaller screens (tablet) */
  nav ul {
    display: none;
  }

  #hamburger-nav {
    display: block;
  }
}

@media (max-width: 700px) {
  /* Add styles for even smaller screens (phone) */
  nav ul li a {
    font-size: 16px;
    margin: 5px;
  }
}

@media (max-width: 992px) {
  /*header*/

  .content h2 {
    font-size: 20px;
  }

  .content p {
    font-size: 10px;
  }
}

@media (max-width: 700px) {
  .contact .contact-box {
    flex: 100%;
  }
}

@media (max-width: 700px) {
  .footer .footer-box .social-media a {
    color: white;
    background-color: #333333;
    border-radius: 50px;
    font-size: 15px;
    padding: 5px;
  }

  .footer .footer-box .label {
    color: white;
    font-size: 15px;
  }
}
