@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: "Libre Baskerville", serif;
  scroll-behavior: smooth;
}
body {
  background-image: url("https://pikwizard.com/pw/medium/33be3c6fa7f52ee4796cfd414a10744c.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a,
a:active,
a:link,
a:visited {
    color: #222222;
    text-decoration: none;
    font-size: 20px;
}

img {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
  height: 70%;
  position: absolute;
  z-index: 1;
}

header .logo a {
  font-size: 30px;
  color: black;
  padding: 15px 30px;
}

header .logo a span {
  color: rgb(28, 143, 250);
}

header nav ul {
  display: flex;
}

header nav ul li a {
  margin: 5px 20px;
  font-size: 18px;
  color: blue;
  padding: 10px 10px;
}

header nav ul li a:hover {
  border-bottom: 2px solid white;
}
/* Navigation*/
nav{
  display: flex;
  align-items: Center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px; 
}

nav ul li a{
  color:#ffff;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

 nav ul li a::after{
  content:'';
  width: 0%;
  height: 3px;
  background:#e4bc84 ;
  position: absolute;
  left: 0;
  bottom:-6px;
  transition: 0.5s;
 }

 nav ul li a:hover::after{
  width:100%;
 }

/* Contents */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.content h2 {
  font-size: 32px;
  padding-left: 5px;
  color: black;
}

.content p {
  font-size: 22px;
  color: white;
}

/*Menu*/

.menu {
  background-color: blanchedalmond;
  width: 100%;
}

.menu .menu-header {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.menu-header h3 {
  color: blue;
  padding: 10px 30px;
}

/*.menu .menu-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 0;
  flex-wrap: wrap;
}

.menu .menu-content .coffee-drinks {
  width: 250px;
}

.menu .menu-content img {
  border-radius: 50%;
}

.menu .menu-content .coffee-drinks-description {
  text-align: center;
  margin-top: 10px;
}

.menu .menu-content .coffee-drinks-description h2 {
  color: blue;
}

.menu .menu-content .coffee-drinks-description label {
  margin-top: 10px;
  color: orange;
}*/

.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
  flex-wrap: wrap;
}

.section__pic-container {
  display: flex;
  width: 300px;
  margin: 50px;
  gap: 5rem;
}

.menu-pic {
  border-radius: 50%;
}

/*Coffee*/
.coffee-container{
  text-align: center; 
}

.coffee-container .row{
  margin-bottom: 20px;
}
.coffee-pic{
  width: 80px;
  display:inline-block;
}
/*Back Button Pang return sa Home Page*/
#drinks-back{
  background-color: #5CE1E6;
  color: white;
  font-size: 50px;
  padding: 5px 20px;
}

#drinks-back:hover, #drinks-back:active {
  background-color: #53cacf;
}

.drinks-btn{
  font-size: 20px;
  padding: 25px 0;
  width: 130px;
}