@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: "Libre Baskerville", serif;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: #794022;
}

.logo-img {
  width: 10rem;
  margin: 0;
}

/*Header */
nav ul {
  display: flex;
}

nav ul li a {
  margin: 5px 20px;
  font-size: 18px;
  padding: 10px 10px;
}

nav ul li a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #e4bc84;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* Content */

/* Slideshow container */
.slideshow-container {
  height: 86vh;
  position: relative;
  overflow: hidden;
}

.mySlides {
  display: none; /* Hide slides by default */
  width: 100%;
  height: 100%;
  position: relative;
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.content h2,
.content p {
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.content h2,
.frappe-text h2 {
  font-size: 50px;
  padding: 10px;
  color: #d99937;
}

.content p,
.frappe-text label {
  font-size: 30px;
  padding: 5px;
  color: #0b0d0c;
}

/*DRINKS*/

.drinks {
  background-color: #c6a988;
  width: 100%;
}

.drinks .drinks-header {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.drinks-header h3 {
  color: black;
  padding: 10px 10px;
}

.drinks .drinks-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 0;
  flex-wrap: wrap;
  background-color: #6c522e;
}

.drinks .drinks-content .hot-coffees,
.frappe-coffees,
.tea-coffees {
  width: 250px;
}

.drinks .drinks-content .hot-coffees .hot-coffees-image img {
  border-radius: 50%;
}

.drinks .drinks-content .frappe-coffees .frappe-coffees-image img {
  border-radius: 50%;
}

.drinks .drinks-content .tea-coffees .fruittea-image img {
  border-radius: 50%;
}

.drinks .drinks-content .hot-coffees-body,
.frappe-coffees-body,
.tea-body {
  text-align: center;
  margin-top: 25px;
}

.drinks .drinks-content .hot-coffees-body h2,
.frappe-coffees-body h2,
.tea-body h2 {
  color: #37251b;
}
.drinks .drinks-content .hot-coffees-body h2:hover,
.frappe-coffees-body h2:hover,
.tea-body h2:hover {
  color: palegreen;
}

.drinks .drinks-content .hot-coffees-body label,
.frappe-coffees-body label,
.tea-body label {
  margin-top: 10px;
  color: white;
}

/*favorite*/

.favorite {
  background-color: #c6a988;
  width: 100%;
}

.favorite .favorite-header {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.favorite-header h3 {
  color: rgb(0, 0, 0);
  padding: 10px 10px;
}

.shop-header h3 {
  color: aquamarine;
  padding: 10px 30px;
}

.shop-header h4 {
  color: palevioletred;
  padding: 10px 20px;
}

.shop-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #6c522e;
  padding: 50px 0;
  flex-wrap: wrap;
}
.shop-box .card {
  width: 280px;
  margin: 20px;
}

.shop-box .card-img {
  width: 100%;
  height: 270px;
  overflow: hidden;
}

.shop-box .card-img img:hover {
  transform: scale(1.1);
  transition: transform 0.6s ease-in-out;
}

.shop-box .card-body {
  padding: 20px;
  color: white;
  border: 3px solid black;
}

.shop-box .card-body h3 {
  padding: 10px 0;
}

.shop-box .card-body i {
  color: yellow;
  font-size: 10px;
  position: relative;
  bottom: 5px;
}

/*Coffees*/
.coffee-bg .coffee-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  width: auto;
  background-image: url("https://i.pinimg.com/564x/79/f3/d4/79f3d4e522788861b185a8c2dc39f64b.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.coffee-text {
  color: #d99937;
  font-size: 2rem;
}

/*Frappuccino*/

.frappe-container {
  background-color: #3eb489;
  height: 109px;
}

.frappe-bg .frappe-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  width: auto;
  background-image: linear-gradient(
      to bottom right,
      rgba(96, 76, 76, 0.5),
      rgba(96, 76, 76, 0.6)
    ),
    url("./Assets/header-frappe.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.frappe-drinks-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #483c32;
  padding: 50px 0;
  flex-wrap: wrap;
}

.frappe-drinks-box .card {
  width: 280px;
  margin: 20px;
}

.frappe-drinks-box .card-img {
  width: 100%;
  height: 270px;
  overflow: hidden;
}

.frappe-drinks-box .card-img img:hover {
  transform: scale(1.1);
  transition: transform 0.6s ease-in-out;
}

.frappe-drinks-box .card-body {
  padding: 20px;
  color: white;
  border: 3px solid black;
}

.frappe-drinks-box .card-body h3 {
  padding: 10px 0;
}

/*Fruit Tea*/
.tea-background {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: #ff8f68;
}

.image {
  display: flex;
  align-items: center;
}

.tea-background .tea-logo-img {
  width: 10rem;
  margin-left: 20%;
}

.tea-image {
  width: 5rem;
  margin-left: 600%;
}

.tea-image:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.6s ease-in-out;
}

.tea-bg .tea-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  width: auto;
  background-image: linear-gradient(
      to bottom right,
      rgba(96, 76, 76, 0.5),
      rgba(96, 76, 76, 0.6)
    ),
    url("./Assets/fruitdrink.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.tea-text h2 {
  color: #ff6a6a;
  font-size: 80px;
  padding: 5px;
}

.tea-text label {
  color: #ffd188;
  font-size: 40px;
  padding: 2px;
}

.tea {
  background-color: #d8bc41;
  width: 100%;
}

.tea .tea-header {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.tea-header h3 {
  color: #ffd188;
  padding: 10px 30px;
}

.tea-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ff6a6a;
  padding: 50px 0;
  flex-wrap: wrap;
}
.tea-box .card {
  width: 280px;
  margin: 20px;
}

.tea-box .card-img {
  width: 100%;
  height: 270px;
  overflow: hidden;
}

.tea-box .card-img img:hover {
  transform: scale(1.1);
  transition: transform 0.6s ease-in-out;
}

.tea-box .card-body {
  padding: 20px;
  color: white;
  border: 3px solid #ffae32;
}

.tea-box .card-body h3 {
  padding: 10px 0;
}

/*Contacts*/

.contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-top: 2px solid black;
}

.contact .contact-box {
  flex: 1;
}

.contact .contact-box .contact-image,
.contact .contact-box .contact-body {
  height: 100%;
}

.contact img {
  width: 100%;
  height: 100%;
}

.contact-image img {
  opacity: 0.9;
}

.contact-body {
  background-color: #deac76;
  height: 100%;
  border-left: 2px solid black;
}

.contact-body form {
  padding: 50px 40px;
  box-sizing: border-box;
}

.contact-body h2 {
  color: #6b372b;
  font-size: 20px;
}

form .form-content {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid black;
}

form .form-content input {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  font-size: 18px;
  border: none;
  background: none;
  outline: 1ps solid black;
  color: white;
}

form .form-content label {
  position: Absolute;
  top: 50%;
  left: 5px;
  color: black;
  transform: translateY(-50%);
  font-size: 15px;
  transition: 0.6s;
  pointer-events: none;
}

form .form-content span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: midnightblue;
  transform: 0.5s;
}

form .form-content input:focus ~ label,
form .form-content input:valid ~ label {
  top: -15px;
  color: blueviolet;
}

form .form-content input:focus ~ span:before,
form .form-content input:valid ~ span:before {
  width: 100%;
}

.contact-body form button {
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  background-color: firebrick;
  color: white;
  border: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.contact-body form button:hover {
  background-color: #2c2221;
}

/*About Us*/
.about {
  background-color: #b57537;
  width: 100%;
}

.about .about-header {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.about-header h3 {
  color: black;
  padding: 10px 10px;
}

.about-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e4bc84;
  padding: 50px 0;
  flex-wrap: wrap;
}
.about-box .frame {
  width: 280px;
  margin: 20px;
  border-radius: 25%;
}

.about-box .frame-image {
  width: 100%;
  height: 270px;
  overflow: hidden;
  border-radius: 25%;
}

.about-box .frame-image img:hover {
  transform: scale(1.1);
  transition: transform 0.6s ease-in-out;
}

.about-box .about-body {
  padding: 20px;
  color: white;
  border: 3px solid black;
}

.about-box .about-body h3 {
  padding: 10px 0;
}

/*Footer*/

footer {
  background-color: #b57537;
  border-top: 2px solid #333333;
}

footer .footer-box {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer-box .social-media a {
  color: white;
  background-color: #333333;
  border-radius: 50%;
  font-size: 17px;
  padding: 10px;
  margin: 5px;
}

footer .footer-box .social-media a:hover {
  opacity: 0.7;
  transition: 0.5s all ease-in-out;
}

footer .footer-box .copyright {
  color: white;
  font-size: 20px;
}

footer .footer-box .brand {
  color: white;
  font-size: 20px;
}

footer .footer-box .brand span {
  color: orange;
}
