@media (max-width: 992px) {
  /* Header styles for smaller screens (tablet) */
  nav ul {
    display: none;
  }

  #hamburger-nav {
    display: block;
  }
}

@media (max-width: 700px) {
  /* Add styles for even smaller screens (phone) */
  nav ul li a {
    font-size: 16px;
    margin: 5px;
  }
}

@media (max-width: 992px) {
  /*header*/

  .slideshow-container .mySlides .content h2 {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 3px 8px 10px black;
    font-family: "Lilita One", sans-serif;
  }

  .slideshow-container .mySlides .content h3 {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 3px 8px 10px black;
    font-family: "Lilita One", sans-serif;
    margin-bottom: 20px;
  }

  .slideshow-container .mySlides .content p {
    font-size: 1rem;
    color: #10091d;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 700px) {
  .contact .contact-box {
    flex: 100%;
  }
}

@media (max-width: 700px) {
  .footer .footer-box .social-media a {
    color: white;
    background-color: #333333;
    border-radius: 50px;
    font-size: 15px;
    padding: 5px;
  }

  .footer .footer-box .label {
    color: white;
    font-size: 15px;
  }

  .footer .footer-box .social-media-label h2 {
    display: flex;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 800px) {
  :root {
    --card-width: 250px;
    --card-height: 400px;
  }
}
.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}
