/*Para sa Menu Part*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: "Libre Baskerville", serif;
  scroll-behavior: smooth;
}


img {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 1;
}

.logo-img {
  width: 12rem;
  padding-top: 20%;
  margin-left: 20%;
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: 
      url("itotalagabgniange.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.content h2 {
  font-size: 60px;
  padding: 10px;
  color: #37251b;
}

.content p {
  font-size: 20px;
  padding:5px;
  color: white;
}
/*Drinks*/

.drinks {
    background-color: #37251b;
    width: 100%;
  }
  
  .drinks .drinks-header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    color: white;
  }
  
  .shop-header h3 {
    color: #B89789;
    padding: 10px 30px;
  }
  
  
  .shop-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #37251b;
    padding: 50px 0;
    flex-wrap: wrap;
  }
  .shop-box .card {
    width: 280px;
    margin: 20px;
  }
  
  .shop-box .card-img {
    width: 100%;
    height: 270px;
    overflow: hidden;
  }
  
  .shop-box .card-img img:hover {
    transform: scale(1.1);
    transition: transform 0.6s ease-in-out;
  }
  
  .shop-box .card-body {
    padding: 20px;
    color:#E9E7E4;
    border: 3px solid black;
  }
  
  .shop-box .card-body h3 {
    padding: 10px 0;
  }
  
 